@media (min-width: 821px) {

    h1 {
        font-size: 2.083vw;
    }

    .button-open-meme__plusIcon {
        width: 1.25vw;
    }

    .button-open-meme__button {
        font-size: 1.389vw; line-height: 3.472vw;
        border-top-width: 0.1389vw;
    }

    main {
        width: 80%;
        margin: 0 10%;
    }

    .button-open-meme__button:focus + .button-open-meme__div .button-open-meme__img, .button-open-meme__button:hover + .button-open-meme__div .button-open-meme__img   {
        width: 30vw; height: auto;
        border-width: 0.0694vw;
    }
}

@media (max-width: 820px) {

    h1 {
        font-size: 1.5rem;
    }

    .button-open-meme__plusIcon {
        width: 0.9rem;
    }

    .button-open-meme__button {
        font-size: 1rem; line-height: 2.5rem;
        border-top-width: 0.1rem;
    }

    main {
        width: 80%;
        margin: 0 10%;
    }

    .button-open-meme__button:focus + .button-open-meme__div .button-open-meme__img, .button-open-meme__button:hover + .button-open-meme__div .button-open-meme__img   {
        border-width: 0.05rem;
    }
}

@media (max-width: 820px) and (min-width: 426px) {
    html {
        font-size: 20px;
    }
    .button-open-meme__button:focus + .button-open-meme__div .button-open-meme__img, .button-open-meme__button:hover + .button-open-meme__div .button-open-meme__img   {
        width: 50vw;
    }
}


@media (max-width: 425px) {
    html {
        font-size: 15px;
    }

    .button-open-meme__button:focus + .button-open-meme__div .button-open-meme__img, .button-open-meme__button:hover + .button-open-meme__div .button-open-meme__img   {
        width: 60vw;
    }
}